@using RazorSharedLib.States.GameAssets
@using RazorSharedLib.Interface
<h3>DiceGenerator</h3>
@if (Service.State.DiceArray is not null)
{
    @for (byte i = 0; i < Service.State.DiceArray.Length; i++)
    {
        <p>Dice @(i + 1): @Service.State.DiceArray[i]</p>
    }

    <FormButton Title="Clear" Click="@Service.ClearArray"></FormButton>
}
else
{
    <FormButton Title="Roll (1) D6" Click="@Service.OneD6"/>
    <FormButton Title="Roll (2) D6" Click="@Service.TwoD6"/>
    <FormButton Title="Roll (3) D6" Click="@Service.ThreeD6"/>
}


@code {
    [Inject] public IDiceGeneratorService Service { get; set; }

}