@page "/Magic/Quiz/MagicQuiz"

@using RazorSharedLib.Shared.Components.MagicQuiz
@using GameAssistantPortal.Models
@using RazorSharedLib.States.Quiz

<h3>MagicQuiz</h3>

@if (State.MagicSets is not null && State.QuizStarted is false)
{
    <EditForm Model="@FormData" OnSubmit="SubmitForm" FormName="QuizForm">
        <h2>Select a Magicset to make a Quiz from</h2>
        <DataAnnotationsValidator/>
        <InputSelect @bind-Value="@FormData.MagicSet">
            @foreach (var set in State.MagicSets)
            {
                <option value="@set.SetCode">@set.SetName</option>
            }
        </InputSelect>
        <br/>

        <InputSelect @bind-Value="@FormData.QuizType">
            @foreach (var quiz in State.QuizList)
            {
                <option value="@quiz.Type">@quiz.Name</option>
            }
        </InputSelect>
        <ValidationMessage For="@(() => FormData.QuizType)"/>

        <button type="submit">Submit</button>
    </EditForm>
}

@if (State.QuizStarted)
{
    <Quiz/> <br/>
    <button @onclick="State.EndQuiz">End Quiz</button>
}

@code {
    [Inject] public MagicQuizState State { get; set; }

    [SupplyParameterFromForm] public QuizFormData FormData { get; set; } = new();

    public void SubmitForm()
    {
        State.SelectedQuizType = FormData.QuizType;

        if (State.SetSelectedSet(FormData.MagicSet))
        {
            State.QuizStarted = true;
        }
    }

}