@using Application.MtGCard_Service.Interface;
@using Domain.MtGDomain.DTO;
@using MtGCard_Service.DTO;
@using MtGDomain.DTO;
@inject IMtGCardRepository Repo

<input type="text" @bind-value="Text" /> <br />
<SearchTypeFilter Model="@TypeFilterModel" /><br />
<SearchFormatFilter Model="@FormatFilterModel" /> <br />
<SearchCmcFilter Model="@CmcFilterModel" /> <br />
<SearchColorFilter Model="@ColorFilterModel" /> <br />
@if (! Searching)
{
    <button @onclick="SearchCards">Search</button>
}
else
{
    <p>Searching for @Text</p>
}


@code {
    [Parameter]
    public EventCallback<MtGSearchResultRecord> EventCallback { get; set; }

    public string Text { get; set; }
    public bool Searching { get; set; }
    private MtGTypeFilter TypeFilterModel { get; set; } = new();
    private MtGFormatFilter FormatFilterModel { get; set; } = new();
    private MtGCmcFilter CmcFilterModel { get; set; } = new();
    private MtGColorFilter ColorFilterModel { get; set; } = new();

    public async void SearchCards()
    {
        var filter = new MtGSearchFilter() {
            Type = TypeFilterModel.ChoosenValue, 
            Format = FormatFilterModel.ChoosenValue ,
            CmcFilter = CmcFilterModel,
            ColorFilter = ColorFilterModel
        };
        if (Text is null)
            return;

        if (Text.Equals(""))
            return;

        Searching = true;
        StateHasChanged();
        var result = await Repo.GetCardsByName(Text, filter);
        var toParent = new MtGSearchResultRecord(result, Text);
        Searching = false;
        await EventCallback.InvokeAsync(toParent);
    }
}
